%h2 Results for "#{params[:query]}"

- if @results.present?
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Actions
    %tbody
      -@results.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td
            = button_to project_add_member_path(@project, user_id: user.id), method: :post, class: "btn btn-primary"
- else
  %p No matching users found